@model EditUserDashboardViewModel

<form method="post" asp-action="EditUserProfile">

    <input type="hidden" id="Id" name="Id" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="BirthDate">BirthDate</label>
        <input asp-for="BirthDate" class="form-control" placeholder="Pace">
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>